<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" class="example-sidenav" [fixedInViewport]="false" [fixedTopGap]="0" [fixedBottomGap]="0">
    <div id="panel-menu">
      <ul>
        <li>
          <i class="fa fa-home"></i>
          <a routerLink="/blog">Home</a>
        </li>
        <li>
          <i class="fa fa-user"></i>
          <a routerLink="/blog/whoami">Cho, Sung Bin</a>
        </li>
      </ul>
      <hr>
      <ul>
        <li>
          <i class="fa fa-github"></i>
          <a routerLink="" (click)="goToGithub()">Bin's blog</a>
        </li>
      </ul>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="contents">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>