<div class="dzsparallaxer auto-init height-is-based-on-content "  data-options='{   direction: "reverse"}'>
	<div class="divimage dzsparallaxer--target " style="width: 101%; height: 130%; background-image: url(/assets/images/bg3.jpg)">
	</div>

	<div class="container pt100 pb70">
		<div class="row pb50">
			<div class="col-md-8 offset-md-2 wow bounceIn" data-wow-delay=".2s">
				<h3 class="h1 text-center font300 text-white">" Assan is the most advanced templates pack on the market "</h3>
			</div>
		</div>

		<div class="text-center">
			<a data-scroll="" href="#contact" class="hover-me1">Drop us a line</a>
		</div>
	</div>
	<div class="dzsprxseparator--2triangles"></div>
</div><!--parallax-->