<div class="home-page-categories hide animated fadeIn ">
  <div class="category row">
    <div class="category-preview col-6 col-sm-4  ">
      <h2>Easy Living</h2>
      <a>
        <img src="/assets/img/sample/cover-2.jpg" alt="category-image">
      </a>
    </div>

    <div class="category-preview col-6 col-sm-4  ">
      <h2>Adventure</h2>
      <a>
        <img src="/assets/img/sample/cover-4.jpg" alt="category-image">
      </a>
    </div>

    <div class="category-preview col-6 col-sm-4  ">
      <h2>Storytime</h2>
      <a>
        <img src="/assets/img/sample/cover-6.jpg" alt="category-image">
      </a>
    </div>

    <div class="category-preview col-6 col-sm-4  ">
      <h2>Open Roads</h2>
      <a>
        <img src="/assets/img/sample/cover-9.jpg" alt="category-image">
      </a>
    </div>

    <div class="category-preview col-6 col-sm-4  ">
      <h2>Gaming</h2>
      <a>
        <img src="/assets/img/sample/cover-1.jpg" alt="category-image">
      </a>
    </div>

    <div class="category-preview col-6 col-sm-4  ">
      <h2>City Life</h2>
      <a>
        <img src="/assets/img/sample/cover-3.jpg" alt="category-image">
      </a>
    </div>

    <div class="category-preview col-6 col-sm-4  ">
      <h2>Rave Culture</h2>
      <a>
        <img src="/assets/img/sample/cover-5.jpg" alt="category-image">
      </a>
    </div>

    <div class="category-preview col-6 col-sm-4  ">
      <h2>Photography</h2>
      <a>
        <img src="/assets/img/sample/cover-7.jpg" alt="category-image">
      </a>
    </div>

    <div class="category-preview col-6 col-sm-4  ">
      <h2>Animal Kingdom</h2>
      <a>
        <img src="/assets/img/sample/cover-8.jpg" alt="category-image">
      </a>
    </div>

    <div class="category-preview col-6 col-sm-4  ">
      <h2>Beach</h2>
      <a>
        <img src="/assets/img/sample/cover-10.jpg" alt="category-image">
      </a>
    </div>

    <div class="category-preview col-6 col-sm-4  ">
      <h2>Climbing</h2>
      <a>
        <img src="/assets/img/sample/cover-11.jpg" alt="category-image">
      </a>
    </div>

    <div class="category-preview col-6 col-sm-4  ">
      <h2>Mystery</h2>
      <a>
        <img src="/assets/img/sample/cover-12.jpg" alt="category-image">
      </a>
    </div>

  </div>
</div>
