<section id="home" class="dzsparallaxer auto-init dzsparallaxer---window-height use-loading" style="position: relative; height: 800px;" data-options='{  mode_scroll: "normal" }'>
		<div class="divimage dzsparallaxer--target " data-src="/assets/images/bg1.jpg" style="width: 100%; height: 130%; background-image: url()">
												  
			<div class="content-table">
				<div class="content-middle pt80 ">
					<div class="container">
						<div class="row">
							<div class="col-md-8 col-lg-6">
								<h2 class="font300 text-capitalize text-white h1">Creative digital agency for smart solutions</h2>
								<p class="lead text-white-gray">
									Most customizable template on the market
								</p>
								<div class="circle-button">
									<a href="https://www.youtube.com/watch?v=cctFcl5EFYk" class="modal-video circle-icon-button bg-white mr-2">
										<i class="fa fa-play"></i>
									</a> <span class="text-white-gray">Watch film</span>
								</div>
							</div>
						</div>
					</div>
				</div><!--hero inner-->

			</div><!--parallax hero-->
		</div><!--parallax image div-->
		<div class="mouse-down"><a data-scroll href="#about"><i class="fa fa-angle-down fa-3x text-white"></i></a></div>
	</section>