<section id="testimonials" class="bg-faded pt90 pb60">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-4 mb30">
				<div class="section-title title-left mb30">
					<span class="section-subTitle">What our customers say</span>
					<h3 class="mb0">
						Testimonials
					</h3>
				</div>

			</div>
			<div class="col-md-7 offset-md-1">
				<div class="text-center">
					<i class="fa fa-quote-left text-muted text-center fa-4x"></i>
				</div>
				<div class="cbp-l-slider-testimonials-wrap">
					<div style=" margin: 0 auto;">
						<div id="js-grid-slider-testimonials" class="cbp cbp-slider-edge">
							<div class="cbp-item graphic">
								<div class="cbp-l-grid-slider-testimonials-body">
									“ I have create my site easily using assan bootstrap3 pack, very easy to customize and unlimited features, recommended! ”
								</div>
								<div class="cbp-l-grid-slider-testimonials-footer">
									John Snow, Assan customer
								</div>
							</div>
							<div class="cbp-item web-design logos">
								<div class="cbp-l-grid-slider-testimonials-body">
									“ Great support mate, I have a question related pricing tables and this guy solve my issue with fast response, I have recommended assan for your next project. ”
								</div>
								<div class="cbp-l-grid-slider-testimonials-footer">
									Arya Stark, Assan customer
								</div>
							</div>
							<div class="cbp-item graphic logos">
								<div class="cbp-l-grid-slider-testimonials-body">
									“ Such a great template. Great features and design. Keep it up! ”
								</div>
								<div class="cbp-l-grid-slider-testimonials-footer">
									Tyrion Lannister, Assan customer
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>