<nav class="navbar navbar-toggleable-md navbar-light bg-white fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsspy" aria-controls="navbarsspy" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" data-scroll href="#home"><img src="/assets/images/logo.png" alt=""></a>

    <div class="collapse navbar-collapse" id="navbarsspy">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a pageScroll pageScrollSpeed="7000" [routerLink]="['/']" class="nav-link" href="#home">home</a></li>
            <li class="nav-item"><a pageScroll pageScrollSpeed="7000" [routerLink]="['/']" class="nav-link" href="#about">About</a></li>
            <li class="nav-item"><a pageScroll pageScrollSpeed="7000" [routerLink]="['/']" class="nav-link" href="#abilities">abilities</a></li>
            <li class="nav-item"><a pageScroll pageScrollSpeed="7000" [routerLink]="['/']" class="nav-link" href="#history">History</a></li>
            <li class="nav-item"><a pageScroll pageScrollSpeed="7000" [routerLink]="['/']" class="nav-link" href="#interesting">Interesting</a></li>
            <li class="nav-item"><a pageScroll pageScrollSpeed="7000" [routerLink]="['/']" class="nav-link" href="#testimonials">Testimonials</a></li>
            <li class="nav-item"><a pageScroll pageScrollSpeed="7000" [routerLink]="['/']" class="nav-link" href="#contact">Contact</a></li>
            <li class="nav-item"><a routerLink="/blog" class="nav-link">BLOG</a></li>
        </ul>
    </div>
    <ul class="float-right navbar-nav hidden-md-down">
        <li class="nav-item"><a href="#" class="nav-link btn btn-rounded btn-primary">Sign In</a></li>
    </ul>
</nav>