<footer class='footer'>
	<div class='container'>
		<div class='row'>
			<div class='col-md-6'>
				<div class='clearfix socials'>
						<a href="#" class="social-icon si-border si-facebook">
					<i class="fa fa-facebook"></i>
					<i class="fa fa-facebook"></i>
				</a>
				<a href="#" class="social-icon si-border si-twitter">
					<i class="fa fa-twitter"></i>
					<i class="fa fa-twitter"></i>
				</a>
				<a href="#" class="social-icon si-border si-g-plus">
					<i class="fa fa-google-plus"></i>
					<i class="fa fa-google-plus"></i>
				</a>
				<a href="#" class="social-icon si-border si-skype">
					<i class="fa fa-skype"></i>
					<i class="fa fa-skype"></i>
				</a>
				<a href="#" class="social-icon si-border si-linkedin">
					<i class="fa fa-linkedin"></i>
					<i class="fa fa-linkedin"></i>
				</a>
				</div>
			</div>
			<div class='col-md-6 text-md-right text-center'>
				<span>&copy; Copyright 2020. Assan Pack</span>
			</div>
		</div>
	</div>
</footer>