<section id="history" class="pt90 pb90">
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3 text-center mb30">
				<div class="section-title">
					<span class="section-subTitle">we love what we do</span>
					<h3 class="mb0">Our portfolio</h3>
				</div>
			</div>
		</div>
		<div id="js-filters-agency" class="cbp-l-filters-text">
			<div class="cbp-l-filters-text-sort">Filter by:</div>
			<div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
				All <div class="cbp-filter-counter"></div>
			</div> |
			<div data-filter=".identity" class="cbp-filter-item">
				Identity <div class="cbp-filter-counter"></div>
			</div> |
			<div data-filter=".web-design" class="cbp-filter-item">
				Web Design <div class="cbp-filter-counter"></div>
			</div> |
			<div data-filter=".graphic" class="cbp-filter-item">
				Graphic <div class="cbp-filter-counter"></div>
			</div> |
			<div data-filter=".logos" class="cbp-filter-item">
				Logo <div class="cbp-filter-counter"></div>
			</div>
		</div>

		<div id="js-grid-agency" class="cbp cbp-l-grid-agency">
			<div class="cbp-item graphic">
				<a href="https://wrapbootstrap.com/theme/assan-multipurpose-15-themes-admin-WB05F069P" target="_blank">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="/assets/images/img1.jpg" data-cbp-src="/assets/images/img1.jpg" alt="" width="380" height="250">
						</div>
					</div>
					<div class="cbp-l-grid-agency-title">Dashboard</div>
					<div class="cbp-l-grid-agency-desc">Web Design / Graphic</div>
				</a>
			</div>
			<div class="cbp-item web-design logos">
				<a href="https://wrapbootstrap.com/theme/assan-multipurpose-15-themes-admin-WB05F069P" target="_blank">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="/assets/images/img2.jpg" data-cbp-src="/assets/images/img2.jpg" alt="" width="380" height="250">
						</div>
					</div>
					<div class="cbp-l-grid-agency-title">World Clock</div>
					<div class="cbp-l-grid-agency-desc">Logo / Web Design</div>
				</a>
			</div>
			<div class="cbp-item graphic logos">
				<a href="https://wrapbootstrap.com/theme/assan-multipurpose-15-themes-admin-WB05F069P" target="_blank">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="/assets/images/img3.jpg" data-cbp-src="/assets/images/img3.jpg" alt="" width="380" height="250">
						</div>
					</div>
					<div class="cbp-l-grid-agency-title">To-Do Dashboard</div>
					<div class="cbp-l-grid-agency-desc">Graphic / Logo</div>
				</a>
			</div>
			<div class="cbp-item web-design graphic">
				<a href="https://wrapbootstrap.com/theme/assan-multipurpose-15-themes-admin-WB05F069P" target="_blank">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="/assets/images/img4.jpg" data-cbp-src="/assets/images/img4.jpg" alt="" width="380" height="250">
						</div>
					</div>
					<div class="cbp-l-grid-agency-title">Events and More</div>
					<div class="cbp-l-grid-agency-desc">Web Design / Graphic</div>
				</a>
			</div>
			<div class="cbp-item identity web-design">
				<a href="https://wrapbootstrap.com/theme/assan-multipurpose-15-themes-admin-WB05F069P" target="_blank">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="/assets/images/img5.jpg" data-cbp-src="/assets/images/img5.jpg" alt="" width="380" height="250">
						</div>
					</div>
					<div class="cbp-l-grid-agency-title">WhereTO App</div>
					<div class="cbp-l-grid-agency-desc">Web Design / Identity</div>
				</a>
			</div>
			<div class="cbp-item identity web-design">
				<a href="https://wrapbootstrap.com/theme/assan-multipurpose-15-themes-admin-WB05F069P" target="_blank">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="/assets/images/img6.jpg" data-cbp-src="/assets/images/img6.jpg" alt="" width="380" height="250">
						</div>
					</div>
					<div class="cbp-l-grid-agency-title">Ski * Buddy</div>
					<div class="cbp-l-grid-agency-desc">Identity / Web Design</div>
				</a>
			</div>
			<div class="cbp-item graphic logos">
				<a href="https://wrapbootstrap.com/theme/assan-multipurpose-15-themes-admin-WB05F069P" target="_blank">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="/assets/images/img7.jpg" data-cbp-src="/assets/images/img7.jpg" alt="" width="380" height="250">
						</div>
					</div>
					<div class="cbp-l-grid-agency-title">Seemple* Music</div>
					<div class="cbp-l-grid-agency-desc">Graphic / Logo</div>
				</a>
			</div>
			<div class="cbp-item identity graphic">
				<a href="https://wrapbootstrap.com/theme/assan-multipurpose-15-themes-admin-WB05F069P" target="_blank">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="/assets/images/img8.jpg" data-cbp-src="/assets/images/img8.jpg" alt="" width="380" height="250">
						</div>
					</div>
					<div class="cbp-l-grid-agency-title">Remind~Me More</div>
					<div class="cbp-l-grid-agency-desc">Identity / Graphic</div>
				</a>
			</div>
			<div class="cbp-item web-design graphic">
				<a href="https://wrapbootstrap.com/theme/assan-multipurpose-15-themes-admin-WB05F069P" target="_blank">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="/assets/images/img9.jpg" data-cbp-src="/assets/images/img9.jpg" alt="" width="380" height="250">
						</div>
					</div>
					<div class="cbp-l-grid-agency-title">Workout Buddy</div>
					<div class="cbp-l-grid-agency-desc">Web Design / Graphic</div>
				</a>
			</div>
			<div class="cbp-item identity web-design">
				<a href="https://wrapbootstrap.com/theme/assan-multipurpose-15-themes-admin-WB05F069P" target="_blank">
					<div class="cbp-caption">
						<div class="cbp-caption-defaultWrap">
							<img src="/assets/images/img10.jpg" data-cbp-src="/assets/images/img10.jpg" alt="" width="380" height="250">
						</div>
					</div>
					<div class="cbp-l-grid-agency-title">Bills Bills Bills</div>
					<div class="cbp-l-grid-agency-desc">Identity / Web Design</div>
				</a>
			</div>
		</div>

		<div id="js-loadMore-agency" class="cbp-l-loadMore-button">
			<a href="ajax-load-more/loadMore.html" class="cbp-l-loadMore-link" rel="nofollow">
				<span class="cbp-l-loadMore-defaultText">LOAD MORE (<span class="cbp-l-loadMore-loadItems">6</span>)</span>
				<span class="cbp-l-loadMore-loadingText">LOADING...</span>
				<span class="cbp-l-loadMore-noMoreLoading">NO MORE WORKS</span>
			</a>
		</div>
	</div>
</section><!--/.portfolio-->