<section class="sidebar col-lg-5 col-12" style="background-image: url(/assets/img/sample/default-author.jpg)">

  <span class="menu-trigger animated fadeInDown" (click)="sideNavToggle()">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </span>

  <div class="site-info">
    <div class="primary-info">
      <h1>Cho, Sung Bin</h1>
      <p>프론트엔드 개발이 즐거운, 꾸준히 학습하는 개발자</p>
    </div>
    <div class="secondary-info">
      <p>
        <a class="btn btn-default" href="mailto:smile.bin.c@gmail.com">
          <i class="fa fa-paper-plane"></i>Contact me</a>
      </p>
    </div>
  </div>
</section>


<div class="col-lg-7 col-12 ml-auto main-content">
  <div class="author-bio">
    <img src="/assets/img/11988660.png">
    <div class="author-bio__info">
      <h1>Cho, Sung Bin</h1>

      <p>좋은 개발자라는 타이틀을 달기 위해 노력하는 프론트엔드 개발자입니다.</p>
      <br>
      <p>이름 : 조성빈</p>
      <p>연락처 : +82)10-3194-1909</p>
      <p>메일 : smile.bin.c@gmail.com / force20000@naver.com</p>
      <p>홈페이지 : https://smilebin.github.io </p>
    </div>
  </div>
  <p>
    <!-- <h2 class="favorites">Contact point</h2>
    <div class="posts-block animated fadeIn ">
      <ul>
        <li>이름</li>조성빈
        <li></li>
      </ul> -->
    
      <!-- <article class="post author-page">
        <div class="post-preview col-10 col-sm-9  no-gutter">
          <h2>
            <a href="post.html">8 Reasons to quit your day job</a>
          </h2>

          <p>It was a cold December morning, as I sat out on my porch I decided today was the day. </p>

        </div>

        <div class="col-sm-3 col-md-2 ml-auto hidden-sm hidden-xs no-gutter">
          <p class="meta author-page">
            <span class="time">
              <i class="fa fa-bookmark"></i> 12</span>
            <span class="min">minutes</span>
          </p>
        </div>
      </article>

      <article class="post author-page">
        <div class="post-preview col-10 col-sm-9  no-gutter">
          <h2>
            <a href="post.html">The Best thing about cold showers</a>
          </h2>

          <p>Would you give up your warm shower for an icy one? </p>

        </div>

        <div class="col-sm-3 col-md-2 ml-auto hidden-sm hidden-xs no-gutter">
          <p class="meta author-page">
            <span class="time">
              <i class="fa fa-bookmark"></i> 19</span>
            <span class="min">minutes</span>
          </p>
        </div>
      </article>

      <article class="post author-page">
        <div class="post-preview col-10 col-sm-9  no-gutter">
          <h2>
            <a href="post.html">A great story never told</a>
          </h2>

          <p>It was a cold December morning, as I sat out on my porch I decided today was the day. </p>

        </div>

        <div class="col-sm-3 col-md-2 ml-auto hidden-sm hidden-xs no-gutter">
          <p class="meta author-page">
            <span class="time">
              <i class="fa fa-bookmark"></i> 9</span>
            <span class="min">minutes</span>
          </p>
        </div>
      </article> -->

      <!-- <div class="view-all-by-author">
        <a routerLink="/blog">View All Post by SungBin
          <i class="fa fa-chevron-right"></i>
        </a>
      </div>
    </div> -->

    <blog-footer></blog-footer>

</div>
<!-- main content -->