<section class="sidebar col-lg-5 col-12" style="background-image: url(/assets/img/sample/default-sidebar.jpg)">

  <span class="menu-trigger animated fadeInDown" (click)="sideNavToggle()">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </span>

  <div class="site-info">
    <div class="primary-info">
      <h1>Writer</h1>
      <p>A minimal blogging theme to put your content on show.
        <a href="post.html">Look at the features.</a>
      </p>

      <p>Content is king</p>
    </div>
    <div class="secondary-info">
      <p>
        <a class="btn btn-primary" href="#">
          <i class="fa fa-user-plus"></i>Join Our Newsletter</a>
      </p>
    </div>
  </div>
</section>

<section class="col-lg-7 col-12 ml-auto main-content">

  <div class="sub-nav">
    <a (click)="goToTab(posts)" class="select-posts active">Posts</a>
    <a (click)="goToTab(categories)" class="select-categories">Categories</a>
  </div>
  <mat-tab-group>
    <mat-tab #posts class="sub-nav" label="Posts">
      <div class="home-page-posts animated fadeIn ">
        <article *ngFor="let post of postData" class="post">
          <div class="post-preview col-10 no-gutter">
            <h2>
              <a routerLink="{{post.id}}">{{post.title}}</a>
            </h2>
            <p>{{post.description}}</p>
    
            <div class="meta">
              <a routerLink="">Sung Bin</a> in
              <a class="right-space" routerLink="">{{post.category}}</a>
              <i class="fa fa-link"></i>
              <ul class="tags">
                <li *ngFor="let tag of post.tags"><a class="tag-link" routerLink="">#{{tag}}</a></li>
              </ul>
            </div>
          </div>
    
          <div class="col-2 no-gutter">
            <!-- <img src="/assets/img/sample/profile-4.jpg" class="user-icon" alt="user-image"> -->
    
          </div>
        </article>
      </div>
    </mat-tab>

    <mat-tab #categories class="sub-nav" label="Categories">
      <main-category></main-category>
    </mat-tab>
  </mat-tab-group>

  <!-- Home page posts -->


  <footer class="split-footer">
    <a href="post.html">About</a>
    <i class="link-spacer"></i>
    <a href="post.html">Writer 2017</a>
  </footer>

</section>