<section class="sidebar col-lg-5 col-12" style="background-image: url(/assets/img/sample/default-sidebar.jpg)">

  <span class="menu-trigger animated fadeInDown" (click)="sideNavToggle()">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </span>

  <div class="site-info">
    <div class="primary-info">
      <h1>Developer</h1>
      <p>나중에 블로그로 사용할 angular 프로젝트 개발중입니다.</p>

      <p>is under construction ...</p>
    </div>
    <div class="secondary-info">
      <!-- <p>
        <a class="btn btn-primary" href="#">
          <i class="fa fa-user-plus"></i>Join Our Newsletter</a>
      </p> -->
    </div>
  </div>
</section>

<section class="col-lg-7 col-12 ml-auto main-content">
  <div class="sub-nav">
    <a (click)="goToTab('posts')" class="select-posts" [class.active]='selectFirst'>Posts</a>
    <a (click)="goToTab('categories')" class="select-categories" [class.active]='selectSecond'>Categories</a>
  </div>
  <ngb-tabset #tabs type="pills">
    <ngb-tab title="Posts" id='posts'>
      <ng-template ngbTabContent>
        <div class="home-page-posts">
          <article *ngFor="let post of postData" class="post">
            <div class="post-preview col-10 no-gutter">
              <h2>
                <a [routerLink]="['posts',post.postId]">{{post.title}}</a>
              </h2>
              <p>{{post.description}}</p>
      
              <div class="meta">
                <a routerLink="">Sung Bin</a> in
                <a class="right-space" routerLink="">{{post.category}}</a>
                <i class="fa fa-link"></i>
                <ul class="tags">
                  <li *ngFor="let tag of post.tags"><a class="tag-link" routerLink="">#{{tag}}</a></li>
                </ul>
              </div>
            </div>
            <div class="col-2 no-gutter">
              <!-- <img src="/assets/img/sample/profile-4.jpg" class="user-icon" alt="user-image"> -->
            </div>
          </article>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Categories" id='categories'>
      <ng-template ngbTabContent>
        <main-category></main-category>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>

  <blog-footer></blog-footer>

</section>