
/* line 86, ../sass/partials/_main-content.sass */
.split-footer {
  padding: 10px 0;
  font-size: 11px;
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
/* line 93, ../sass/partials/_main-content.sass */
.split-footer a {
  color: #999;
  border-bottom: none;
}
/* line 97, ../sass/partials/_main-content.sass */
.split-footer a:hover, .split-footer a:active {
  color: #333;
  border-bottom: none;
}