<div class="dzsparallaxer auto-init height-is-based-on-content "  data-options='{   direction: "reverse"}'>
	<div class="divimage dzsparallaxer--target " style="width: 101%; height: 130%; background-image: url(/assets/images/bg2.jpg)">
	</div>
	<div class="semi-black-overlay"></div>
	<div class="container pt100 pb70">
		<div class="row pb50">
			<div class="col-md-8">
				<h3 class="h1 text-center font300 text-white">Let's work together</h3>
			</div>
			<div class="col-md-4 text-sm-center mt10">
				<a data-scroll="" href="#contact" class="hover-me1">Hire Us</a>
			</div>
		</div>
	</div>
	<div class="dzsprxseparator--2triangles"></div>
</div><!--parallax-->