<!-- <div id="preloader">
    <div id="preloader-inner"></div>
</div> -->



<section-home></section-home>

<section-about></section-about>

<div-text1></div-text1>

<section-ability></section-ability>

<div-ads></div-ads>

<section-experience></section-experience>

<div-line></div-line>

<section-interests></section-interests>

<section-testimonials></section-testimonials>

<section-contact></section-contact>

<div-text2></div-text2>

<footer-contents></footer-contents>

<!--back to top-->
<a href="#" class="back-to-top hidden-xs-down" id="back-to-top"><i class="fa fa-angle-up"></i></a>
<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script type="text/javascript" src="/assets/js/plugins/plugins.js"></script> 
<script type="text/javascript" src="/assets/js/onepage.custom.js"></script> 
<!--dz parallaxer-->
<script type="text/javascript" src="/assets/dzsparallaxer/dzsparallaxer.js"></script>
<script type="text/javascript" src="/assets/dzsparallaxer/scroller.js"></script>
<script type="text/javascript" src="/assets/dzsparallaxer/advancedscroller/plugin.js"></script>
<!-- load cubeportfolio -->
<script type="text/javascript" src="/assets/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
<script type="text/javascript" src="/assets/js/folio-load-more.js"></script> 
<script type="text/javascript" src="/assets/js/testimonials.js"></script>
<!--sky form plugin js-->
<script type="text/javascript" src="/assets/smart-form/contact-recaptcha/js/jquery.form.min.js"></script>
<script type="text/javascript" src="/assets/smart-form/contact-recaptcha/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/assets/smart-form/contact-recaptcha/js/additional-methods.min.js"></script>
<script type="text/javascript" src="/assets/smart-form/contact-recaptcha/js/smart-form.js"></script> 
<script src='https://www.google.com/recaptcha/api.js'></script>