<section id="interesting" class="pt90 pb60">
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3 text-center mb30">
				<div class="section-title">
					<span class="section-subTitle">Our real heros</span>
					<h3 class="mb0">Our team</h3>
				</div>
			</div>
		</div> 
		<div class="row no-margin">
			<div class="col-lg-3 col-md-6 mb30">
				<div class="team-card">
					<img src="/assets/images/team1.jpg" alt="" class="img-fluid">
					<div class="team-overlay align-items-center">
						<div class="team-detail">
							<h4>John Doe</h4>
							<span>Marketing manager</span>
							<div class="seprator-overlay"></div>
							<ul class="list-inline">
								<li class="list-inline-item">
									<a href="#"><i class="fa fa-facebook"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#"><i class="fa fa-twitter"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#"> <i class="fa fa-youtube"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#"><i class="fa fa-instagram"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div><!--/col-->
			<div class="col-lg-3 col-md-6 mb30">
				<div class="team-card">
					<img src="/assets/images/team2.jpg" alt="" class="img-fluid">
					<div class="team-overlay align-items-center">
						<div class="team-detail">
							<h4>John Doe</h4>
							<span>Marketing manager</span>
							<div class="seprator-overlay"></div>
							<ul class="list-inline">
								<li class="list-inline-item">
									<a href="#"><i class="fa fa-facebook"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#"><i class="fa fa-twitter"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#"> <i class="fa fa-youtube"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#"><i class="fa fa-instagram"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div><!--/col-->
			<div class="col-lg-3 col-md-6 mb30">
				<div class="team-card">
					<img src="/assets/images/team3.jpg" alt="" class="img-fluid">
					<div class="team-overlay align-items-center">
						<div class="team-detail">
							<h4>John Doe</h4>
							<span>Marketing manager</span>
							<div class="seprator-overlay"></div>
							<ul class="list-inline">
								<li class="list-inline-item">
									<a href="#"><i class="fa fa-facebook"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#"><i class="fa fa-twitter"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#"> <i class="fa fa-youtube"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#"><i class="fa fa-instagram"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div><!--/col-->
			<div class="col-lg-3 col-md-6 mb30">
				<div class="team-card">
					<img src="/assets/images/team4.jpg" alt="" class="img-fluid">
					<div class="team-overlay align-items-center">
						<div class="team-detail">
							<h4>John Doe</h4>
							<span>Marketing manager</span>
							<div class="seprator-overlay"></div>
							<ul class="list-inline">
								<li class="list-inline-item">
									<a href="#"><i class="fa fa-facebook"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#"><i class="fa fa-twitter"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#"> <i class="fa fa-youtube"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#"><i class="fa fa-instagram"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div><!--/col-->
		</div>
	</div>
</section><!--team-->