<header class="hero-image" role="banner" style="background-image: url(/assets/img/sample/default-single-hero.jpg);">
  <span class="menu-trigger animated fadeInDown" (click)="sideNavToggle()">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </span>
</header>

<main class="container">
  <div class="row">
    <div *ngIf="paintFlag" class="col-lg-12 single-content">
      <h1>{{postInfo.title}}</h1>

      <p class="subtitle">{{postInfo.description}}</p>
      <div *ngIf="postInfo.mapDiv">
        <div id="map" style="width:100%;height:400px;"></div>
        <div>
          <button (click)="goToNaver()">네이버로</button>
        </div>
      </div>
      <hr>
      <br>
      <markdown [src]="postInfo.contents"></markdown>
      <hr>
    </div>
  </div>
</main>

<footer class="single">
  <!-- <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-2">
        <img src="/assets/img/sample/profile-1.jpg" class="user-icon " alt="user-image">
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="category-list">
          <p>Published
            <span>14th May 2017</span>
          </p>
          <p>
            <a href="#">James Reddy</a> in
            <a href="#">Storytime</a>
          </p>

          <div class="other-catergories">
            <h3>Also found in</h3>

            <ul>
              <li>
                <a href="#">Stories</a>,</li>
              <li>
                <a href="#">Life</a>,</li>
              <li>
                <a href="#">Adventures</a>
              </li>
            </ul>
          </div>

        </div>
      </div -->
      <!-- end col -->
      <!-- div class="col-xs-12 col-md-4">
        <div class="social">
          <p>Share this article</p>
          <div class="social-links">
            <a class="social-icon" href="#" data-platform="twitter" data-message="Message about this post" data-url="http://writertheme.com/post">
              <i class="fa fa-twitter"></i>
            </a>

            <a class="social-icon" href="#" data-platform="facebook" data-message="Message about this post" data-url="http://writertheme.com/post">
              <i class="fa fa-facebook-official"></i>
            </a>

            <a class="social-icon" data-platform="mail" href="mailto:support@writertheme.com">
              <i class="fa fa-envelope"></i>
            </a>
          </div>
        </div>
      </div>
    </div> -->
    <!-- end row -->
  <!-- </div> -->

  <div class="row read-another-section">
    <div class="col-6 col-md-2 no-gutter read-another-container">
      <a href="post.html">
        <div class="overlay"></div>
        <img src="/assets/img/sample/square-iceland.jpg">
        <h3 class="read-another">text1 </h3>
      </a>
    </div>
    <div class="col-6 col-md-2 no-gutter read-another-container">
      <a href="post.html">
        <div class="overlay"></div>
        <img src="/assets/img/sample/square-spain.jpg">
        <h3 class="read-another">text2</h3>
      </a>
    </div>
    <div class="col-6 col-md-2 no-gutter read-another-container">
      <a href="post.html">
        <div class="overlay"></div>
        <img src="/assets/img/sample/square-peak.jpg">
        <h3 class="read-another">text3</h3>
      </a>
    </div>
    <div class="col-6 col-md-2 no-gutter read-another-container">
      <a href="post.html">
        <div class="overlay"></div>
        <img src="/assets/img/sample/square-woods.jpg">
        <h3 class="read-another">text4</h3>
      </a>
    </div>
    <div class="col-6 col-md-2 no-gutter read-another-container">
      <a href="post.html">
        <div class="overlay"></div>
        <img src="/assets/img/sample/square-sunset.jpg">
        <h3 class="read-another">text5</h3>
      </a>
    </div>
    <div class="col-6 col-md-2 no-gutter read-another-container">
      <a href="post.html">
        <div class="overlay"></div>
        <img src="/assets/img/sample/square-mountain.jpg">
        <h3 class="read-another">Ten Reasons to Hike</h3>
      </a>
    </div>
  </div>
</footer>