<div class="cta bg-dark pt90 angle-top mt70 pb60">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6 wow fadeInLeft mb30" data-wow-delay=".1s">
					<img src="/assets/images/mac1.png" alt="" class="img-fluid">
				</div>
				<div class="col-md-6 pb40">
					<h2 class="text-white font300 mb20">The most clean & elegant template on the market</h2>
					<p class="lead  text-white-gray">
						" I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. "   
					</p>
					<h5 class="text-capitalize font500 text-white text-right"> Carlos Doe <small class="text-white-gray">Assan customer</small></h5>
				</div>
			</div>
		</div>
	</div><!--/cta-->